.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chessboard {
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255);
  width: 424px;
  height: 424px;
  border-width: 1px;
  border-style:solid
}

.whiteSquare {
  border-style: solid;
  width: 50px;
  height: 50px;
  /* vertical-align: auto; */
  float:left;
  background-color: rgb(255, 255, 255)
}
.blackSquare {
  border-style: solid;
  width: 50px;
  height: 50px;
  /* vertical-align: auto; */
  float:left;
  background-color: black;
}

.chessPiece {
  z-index: 1;
}