@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@layer components {
  .btn-primary {
    @apply flex basis-1/4 py-2 px-4 bg-inherit text-slate-100 font-semibold rounded-lg shadow-md hover:bg-gray-700/75 focus:outline-none hover:text-white focus:ring-2 focus:ring-blue-400 text-sm;
  }
  .btn-secondary {
    @apply flex grid text-slate-300 justify-start gap-0 content-start py-2 px-4 bg-inherit font-semibold rounded-lg shadow-sm hover:bg-gray-700/50 focus:outline-none hover:text-slate-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 text-sm ml-1 max-h-8 w-52;
  }
  .btn-tertiary {
    @apply flex grid text-slate-300 justify-start gap-0 content-center py-2 px-4 bg-inherit font-semibold rounded-lg shadow-sm hover:bg-gray-700/50 focus:outline-none hover:text-slate-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 text-sm ml-1 h-16 w-52;
  }
  .radio-1 {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  }
  .label-text {
    @apply text-slate-300 font-semibold hover:text-slate-200 text-sm;
  }
  .toggle-primary {
    @apply focus:outline-none;
  }
}

:root {
  --boardWidth: 600px;
  --sqWidth: calc(var(--boardWidth) / 8);
}

.cell {
  transition: background-color 2.5s ease, opacity 1200ms;
  border-style: solid;
  width: var(--sqWidth);
  height: var(--sqWidth);
  float: left;
}

body {
  background-color: rgb(55 65 81);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chessboard {
  width: var(--boardWidth);
  height: var(--boardWidth);
}

.piece {
  width: var(--sqWidth);
  height: var(--sqWidth);
  touch-action: none;
}

.chessPiece {
  z-index: 1;
}

.lightSquare {
  background-color: #feffd7;
}
.darkSquare {
  background-color: #feffd9f5
}
.whiteSquare1 {
  background-color: #ffdef5;
}
.whiteSquare2 {
  background-color: #ffbcde;
}
.whiteSquare3 {
  background-color: #fe9ac6;
}
.whiteSquare4 {
  background-color: #fe78af;
}
.whiteSquare5 {
  background-color: #fd5697;
}
.whiteSquare6 {
  background-color: #fd3480;
}
.whiteSquare7 {
  background-color: #fc1268;
}
.blackSquare1 {
  background-color: #bad5ff;
}
.blackSquare2 {
  background-color: #a1bcff;
}
.blackSquare3 {
  background-color: #87a3ff;
}
.blackSquare4 {
  background-color: #6e8bff;
}
.blackSquare5 {
  background-color: #5472ff;
}
.blackSquare6 {
  background-color: #3b59ff;
}
.blackSquare7 {
  background-color: #2140ff;
}
